src/Db/SymfonyDi/db.di.config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://effective-group.ru/schema/dic/eff_tech_infrastructure_db" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="connect">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="dbType"/>
              <xs:element type="xs:string" name="user"/>
              <xs:element type="xs:string" name="password"/>
              <xs:element type="xs:string" name="dbName"/>
              <xs:element type="xs:string" name="host"/>
              <xs:element type="xs:short" name="port"/>
              <xs:element name="option" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>